@charset "UTF-8";
/* ------------------------------ */
/* base
/* ------------------------------ */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 10px */
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div, figure,
table, caption, tbody, tfoot, thead, tr, th, td, dl, dd, dt {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
  background-color: #fff;
  letter-spacing: 0;
  line-height: 1;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

@media screen and (max-width: 375px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 375px) {
  .sp {
    display: block;
  }
}

/* ------------------------------ */
/* layout
/* ------------------------------ */
.container {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 4vw;
  }
}

.bg-gray {
  background-color: #f2f2f2;
}

/* ------------------------------ */
/* parts
/* ------------------------------ */
.section-ttl {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.068em;
}

@media screen and (max-width: 375px) {
  .section-ttl {
    margin-bottom: 32px;
  }
}

.section-txt {
  font-size: 1.6rem;
  line-height: 2;
}

.btn {
  background-color: #000;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/* ------------------------------ */
/* header
/* ------------------------------ */
.header {
  /* ハンバーガーボタン（閉） */
}

.header-ttl {
  width: 260px;
  position: fixed;
  top: 30px;
  left: 4vw;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .header-ttl {
    width: 189px;
  }
}

@media screen and (max-width: 375px) {
  .header-ttl {
    top: 20px;
  }
}

.header-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  /* 520px / 1440px * 100 = 36.1% */
  text-align: center;
  padding-top: 180px;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s, opacity .3s;
}

@media screen and (max-width: 375px) {
  .header-nav {
    width: 67.7vw;
  }
}

.header-item {
  letter-spacing: 0.068em;
}

.header-item:first-child {
  margin-bottom: 40px;
}

.header-item:nth-child(n+2) {
  margin-bottom: 30px;
}

.header-item:last-child {
  margin-bottom: 0;
}

.header .burger-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 36px;
  right: 4vw;
  z-index: 3;
  /* ハンバーガーメニュー（開） */
}

@media screen and (max-width: 375px) {
  .header .burger-btn {
    top: 24px;
  }
}

.header .burger-btn .bars .bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
  transition: transform .3s;
}

.header .burger-btn .bars .bar_top {
  transform: translateY(-4px);
}

.header .burger-btn .bars .bar_bottom {
  transform: translateY(4px);
}

.header .burger-btn .menu {
  display: block;
  font-weight: bold;
  color: #fff;
  margin-left: 7px;
  text-transform: uppercase;
}

.header .burger-btn .cross.bar_top {
  transform: rotate(30deg) translateY(2px);
}

.header .burger-btn .cross.bar_mid {
  opacity: 0;
}

.header .burger-btn .cross.bar_bottom {
  transform: rotate(-30deg) translateY(-2px);
}

.header .burger-musk {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body.noscroll {
  overflow: hidden;
}

/* アニメーションクラス */
.open {
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s, opacity .3s;
}

.black {
  filter: brightness(0%);
  transition: filter .3s;
}

/* ------------------------------ */
/* mv
/* ------------------------------ */
.mv {
  height: 60vh;
  min-height: 464px;
}

.mv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 54%;
  height: 60vh;
  min-height: 464px;
  z-index: -1;
}

.mv-inner {
  background: url(../img/heading-img_about.jpg) no-repeat center/cover;
  position: relative;
  width: 76.4%;
  /* 1100px / 1440px = 7約76.4% */
  height: 83.4%;
  /* 387px / 464px = 約83.4% */
}

.mv .page-ttl {
  font-size: 7.2rem;
  font-weight: bold;
  letter-spacing: 0.063em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

@media screen and (max-width: 768px) {
  .mv .page-ttl {
    font-size: 5.2rem;
    transform: translate(28%, -50%);
  }
}

@media screen and (max-width: 375px) {
  .mv .page-ttl {
    letter-spacing: 0;
    transform: translate(20%, -50%);
  }
}

.mv .page-ttl span {
  font-size: 2.0rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin-top: 5px;
  display: block;
}

@media screen and (max-width: 375px) {
  .mv .page-ttl span {
    font-size: 1.6rem;
  }
}

/* ------------------------------ */
/* vision
/* ------------------------------ */
.vision {
  padding: 120px 0 0;
}

@media screen and (max-width: 768px) {
  .vision {
    padding: 80px 0 0;
  }
}

.vision-box {
  padding-left: 15.7vw;
  /* 226px / 1440px = 約15.7vw */
}

@media screen and (max-width: 375px) {
  .vision-box {
    padding-left: 0;
  }
}

.vision .sub-ttl {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  .vision .sub-ttl {
    font-weight: normal;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 375px) {
  .vision .sub-ttl {
    letter-spacing: 0;
  }
}

.vision-txt {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .vision-txt {
    font-size: 1.4rem;
  }
}

/* ------------------------------ */
/* ceo
/* ------------------------------ */
.ceo {
  padding: 60px 0 120px;
}

@media screen and (max-width: 768px) {
  .ceo {
    padding: 80px 0;
  }
}

.ceo .container {
  padding-top: 150px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .ceo .container {
    padding-top: 120px;
  }
}

.ceo-box {
  width: 770px;
  max-width: 70%;
  /* 770px / 1100px = 約70% */
  margin-left: auto;
  padding: 120px 0 90px;
}

@media screen and (max-width: 375px) {
  .ceo-box {
    max-width: 100%;
    padding: 140px 28px 80px;
  }
}

.ceo-box-inner {
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .ceo-box-inner {
    max-width: 415px;
    padding: 0 4vw;
  }
}

.ceo-txt {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: normal;
}

@media screen and (max-width: 375px) {
  .ceo-txt {
    font-size: 1.4rem;
  }
}

.ceo-img {
  width: 38.1%;
  /* 440px / 1100px = 約38.1% */
  max-width: 440px;
  position: absolute;
  top: 0;
  left: 30px;
}

@media screen and (max-width: 768px) {
  .ceo-img {
    max-width: 320px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .ceo-img {
    max-width: 340px;
    left: 0;
  }
}

.ceo-img img {
  object-fit: cover;
}

/* ------------------------------ */
/* company
/* ------------------------------ */
.company {
  padding-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .company {
    padding-bottom: 80px;
  }
}

.company-list {
  border-top: 1px solid #ddd;
  margin-bottom: 40px;
}

.company-box {
  display: flex;
  padding: 20px 0;
  max-width: 800px;
  margin-left: auto;
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.04em;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .company-box {
    max-width: 678px;
  }
}

@media screen and (max-width: 375px) {
  .company-box {
    font-size: 1.4rem;
    padding: 24px 0 21px;
  }
}

.company-ttl {
  font-weight: bold;
  width: 142px;
}

@media screen and (max-width: 375px) {
  .company-ttl {
    font-weight: normal;
  }
}

.company .map {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 32.7%;
  /* 360px / 1100px = 約32.7% */
}

@media screen and (max-width: 375px) {
  .company .map {
    padding-bottom: 136%;
    /* 470px / 345px = 約136% */
  }
}

.company .map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* ------------------------------ */
/* footer
/* ------------------------------ */
.footer {
  background-color: #525252;
  text-align: center;
  color: #fff;
  letter-spacing: 0.015em;
}

.footer small {
  line-height: 50px;
}
